:root {
	--depth: 500px;
	--turnLeft: 0.06turn;
	--turnRight: -0.06turn;
	--turn: var(--turnRight);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow-y: scroll;
  scroll-snap-type: y mandatory;
	background: hsl(0 0% 10%);
	perspective: 1000px;
	perspective-origin: 50% 35%;
}

.building {
	transform-style: preserve-3d;
}

.room {
	position: relative;
	border: 4vmax solid hsl(0 0% 10%);
	height: 80vh;
	width: 100vw;
	scroll-snap-align: center;
	transform-style: preserve-3d;
}

.room + .room {
	border-top: 0;
}

.room::before,
.room::after {
	content: '';
	position: absolute;
	height: var(--depth);
	width: 100%;
	backface-visibility: hidden;
}

.room::before {
	background:
		radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
		rgb(55, 77, 122);
	transform: rotatex(-90deg) scale(1.001);
	transform-origin: center top;
}

.room::after {
	bottom: 0;
	background:
		radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
		url('images/library1.jfif') center / cover,
		sandybrown;
	transform: rotatex(90deg);
	transform-origin: center bottom;
}

.room-walls {
	position: absolute;
	inset: 0;
	background:
		linear-gradient(to top, rgba(153, 63, 11, 0.93) 2.5vh, transparent 0),
		radial-gradient(hsl(0 0% 0% / 70%), hsl(0 0% 0% / 50%)),
		url('images/library3.jpg') center / cover,
		darkgray;
	transform: translatez(calc(var(--depth) * -1));
	transform-style: preserve-3d;
}

.room-walls::before,
.room-walls::after {
	content: '';
	position: absolute;
	height: 100%;
	width: var(--depth);
}

.room-walls::before {
	right: 100%;
	background:
		linear-gradient(to top, rgb(153, 63, 11, 0.93) 2.5vh, transparent 0),
		radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
		url(https://images.unsplash.com/photo-1568667256549-094345857637?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bGlicmFyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60) center / cover,
		gray;
	transform: rotatey(90deg);
	transform-origin: right center;
}

.room-walls::after {
	left: 100%;
	background:
		linear-gradient(to top, rgb(153, 63, 11, 0.93) 2.5vh, transparent 0),
		radial-gradient(hsl(0 0% 100% /10%), hsl(0 0% 0% / 10%)),
		url(https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGlicmFyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60) center / cover,
		gray;
	transform: rotatey(-90deg);
	transform-origin: left center;
}

.room-content {
	display: grid;
	place-content: center;
	height: 100%;
	width: 100%;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: clamp(1em, 20vmin, 3em);
	font-weight: 200;
	text-align: center;
	text-shadow: 0 5px 10px hsl(0 0% 0% / 20%);
	text-decoration: none;
	transform: translatez(calc(var(--depth) / -2)) rotatey(var(--turn));
}
.room-content2 {
	display: grid;
	place-content: center;
	height: 100%;
	width: 100%;
	color: rgba(97, 81, 241, 0.753);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: clamp(1em, 20vmin, 1.5em);
	font-weight: 100;
	text-align: center;
	text-shadow: 0 5px 10px hsl(0 0% 0% / 20%);
	text-decoration: none;
	transform: translatez(calc(var(--depth) / -2)) rotatey(var(--turn));
}
.room a{
    text-decoration: none;
	color: rgb(210, 247, 234);
}

.room:nth-child(odd) > .room-content {
	--turn: var(--turnLeft);
}